%script{src: "#{base_url}/jquery.min.js"}
%script{src: 'https://www.google.com/jsapi?key=ABQIAAAAj-436Y9rWiKOZSgwu4Ii2BR0d6gAq6BLJEDL3SIjF_amF-T13hQ_AzmN_1WEpDyu4RP9W5Ovu9JnLQ'}
%script{src: "#{base_url}/js.js"}
    

%div
  %div#searchForm Loading...
  %div#searchResult
