%script{:src => "#{base_url}/jquery.min.js"}
%script{:src => "#{base_url}/js.js"}

%div
  %form#url{:action => 'javascript:void(0);'}
    %div
      青空文庫のzipのURLを入力してください
    %div
      %input#url_text{type: 'text', name: 'url', size: 100, value: 'http://www.aozora.gr.jp/cards/000035/files/301_ruby_5915.zip'}
      %input#submit{:type => 'submit', :value => '生成'}
    %div#url_generated
